.Login {
    text-align: center;
  }
  
  .login-hero-img {
    background-image: url("./login_bg1.png");
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
  }
  
  .Login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .btn-toolbar {
    .btn {
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .google-login-button {
    position: fixed;
    top: 50vh;
    left: 30vw;
  }
  